<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- BoardMapper.java 연결 -->
<mapper namespace="com.java.www.mapper.BoardMapper">

	<select id="selectAll" resultType="com.java.www.dto.MemberDto">
		select * from 
		(select row_number() over(order by ymno) rnum, a.* from ymember a 
		<if test="gender!='all'">
		where gender=#{gender}
		</if>
		<if test="gender=='all'">
		where (gender='Male' or gender='Female')
		</if>
		<if test="category!='all'">
		and ${category} like '%'||#{searchWord}||'%' 
		</if>
		<if test="category=='all' and searchWord!=null">
		and ( ymno like '%'||#{searchWord}||'%' or name like '%'||#{searchWord}||'%')
		</if>
		)
		where rnum between #{firstRow} and #{endRow}
	</select>
	
	<select id="listCount">
		select count(*) from ymember 
		<if test="gender!='all'">
		where gender=#{gender}
		</if>
		<if test="gender=='all'">
		where (gender='Male' or gender='Female')
		</if>
		<if test="category!='all'">
		and ${category} like '%'||#{searchWord}||'%' 
		</if>
		<if test="category=='all' and searchWord!=null">
		and ( ymno like '%'||#{searchWord}||'%' or name like '%'||#{searchWord}||'%')
		</if>
		
	</select>
	
	<delete id="deleteMember">
		delete ymember where 
		<foreach collection="ymnos" index="index" item="ymnos1" open="(" separator="or" close=")">
			ymno= #{ymnos1}
		</foreach>
	</delete>

</mapper>